.customer-home-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.home-left-header {
  background: #ffffff;
  width: 215px;
  height: 375px;
  border-radius: 10px;
}

.home-left-header-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}

.home-left-header-item:hover {
  background: #f3f4f6;
}

.home-right-header {
  height: 375px;
  width: calc(100% - 245px);
}

.image-banner-container {
  height: 100%;
}

.image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.btn-secondary {
  background: #a1a9b5;
  color: #444444;
}

.list-supplier {
  display: flex;
  margin-left: 20px;
  gap: 10px;
  overflow-x: auto;
}

.categories-header {
  display: flex;
}

.categories-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;

  .item-standing {
    width: 225px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
  }

  .price-sale {
    position: absolute;
    width: 80px;
    height: 31px;
    left: -3px;
    background: image-url('price_sale.svg') no-repeat;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
  }

  .item-standing-container {

    padding: 32px 20px 20px 20px;

    .item-standing-image-container {
      display: flex;
      justify-content: center;

      .item-standing-image {
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  
  
    .item-standing-content {
      
      .item-standing-name {
        font-weight: 500;
        margin-top: 20px;
        height: 50px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
  
      .item-standing-price {
        margin-top: 20px;
        display: flex;
        align-items: end;
  
        .item-standing-red {
          color: red;
        }
  
        .item-standing-gray {
          color: #707070;
          font-size: 14px;
          margin-left: 10px;
          text-decoration: line-through;
        }
      }

      .item-standing-note {
        margin-top: 20px;
        background: #f3f4f6;
        text-align: left;
        font-size: 12px;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
      }
      
      .item-standing-note-p {
        display: -webkit-box;
        max-height: 52px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.customer-bottom-sidebar {
  position: fixed;
  z-index: 9;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  margin-left: -30px;
}

.space-height {
  height: 40px;
}

.select-supplier {
  margin-top: 30px;
}

.customer-open-new-page {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.backdrop-main {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.53);
  z-index: 10;
}

.list-item-suggest-container {
  min-width: 300px;
  position: absolute;
  z-index: 10;
  max-height: 310px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  color: #000000;
  padding: 10px 20px;
}

.item-suggest {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.div-img-search {
  width: 40px;
  height: 40px;
}

.img-search {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-suggest-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #707070;
}

.item-suggest-name {
  font-size: 14px;
  display: -webkit-box;
  max-height: 16px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-suggest-red {
  font-size: 14px;
  color: red;
}

.item-suggest-gray {
  color: #707070;
  font-size: 12px;
  margin-left: 10px;
  text-decoration: line-through;
}

.show-item-container {
  margin-top: 40px;
  width: 100%;
}

.show-list-image {
  display: flex;
  gap: 20px;
  width: 100%;
  background: #ffffff;
  margin-top: 10px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.show-image-scroll {
  display: flex;
  gap: 20px;
  width: calc(100% - 70px);
}

.show-image-first {
  width: 400px;
  height: 500px;
  max-width: 100%;
}

.show-image-bonus {
  width: 50px;
  height: 50px;
}

.image-full-width {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-item-image {
  width: 400px;
  max-width: 100%;
}

.br-10 {
  border-radius: 10px;
}

.br-8 {
  border-radius: 8px;
}

.br-4 {
  border-radius: 4px;
}

.show-item-content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.customer-content-container {
  width: 100%;
}

.info-item {
  max-width: 100%;
}

.info-item-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.info-item-price-red {
  color: red;
  font-size: 25px;
}

.info-item-price-gray {
  margin-left: 10px;
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
  text-decoration: line-through;
}

.info-item-order {
  width: 400px;
  max-width: 100%;
}

.info-free-ship {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  background: #00483d;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.info-group-button {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.button-buy {
  width: 50%;
  height: 100px;
  background-color: #d70018;
  border-radius: 10px;
  color: #ffffff;
}

.button-save-buy {
  width: 50%;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(90deg, #F64850, #FB810B);
  color: #ffffff;
}

.customer-auth-container {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-auth-header {
  font-size: 22px;
  color: #4a4a4a;
  text-align: center;
}

.customer-auth-container-background {
  width: 700px;
  max-width: 100%;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
}

.customer-auth-content {
  margin-top: 30px;

  input {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.btn-reset-password {
  width: 100%;
  text-align: right;
  font-size: 13px;
  color: #777;

  a:hover {
    opacity: 0.7;
  }
}

.btn-submit-login-customer {
  width: 100%;
  background-color: #e0052b;
  font-weight: 600;
  border-radius: 5px;
  padding: 11px 0;
  color: #ffffff;
}

.link-sigup {
  margin-left: 10px;
  color: #e0052b;
}

.link-sigup:hover {
  opacity: 0.7;
}

.text-not-account {
  color: #777;
}

.btn-submit-login-customer:hover {
  opacity: 0.7;
}

.customer-auth-content {
  .text-danger {
    font-size: 12px;
    padding-left: 10px;
  }
}

.cart-header {
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
}

.cart-content {
  margin-top: 20px;
  height: calc(100vh - 255px);
  overflow-y: auto;
}

.cart-content-order-history {
  height: calc(100vh - 180px);
}

.cart-content-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-item {
  display: flex;
  gap: 20px;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffffff;
  font-size: 14px;
  align-items: center;
  width: calc(50% - 10px);
}

.cart-item-image-container {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.button-change-quantity.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #d70018 !important;
}

.button-change-quantity.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #d70018 !important;
}

.cart-item-quantity {
  display: flex;
  border: 1px solid #d70018 !important;
  height: fit-content;
  border-radius: 5px;
  margin-left: auto;
  margin-top: auto;
}

.display-item-quantity {
  width: 30px;
  text-align: center;
}

.button-by-order {
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.customer-destinations {
  width: 100%;
  margin-bottom: 20px;
}

.customer-destinations-container {
  border: 1px solid #cccccc;
  border-radius: 8px;
  height: 100px;
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.register-confirm-image {
  width: 400px;
  height: 200px;
  max-width: 100%;
}

.register-confirm-container {
  max-width: 100%;
  margin: auto;
}

.cart-item-name {
  display: -webkit-box;
  height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.cart-item-name-price {
  width: calc(100% - 195px);
  cursor: pointer;
}

.select-destination-contaner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.destination-button-edit {
  margin-left: auto;
  margin-top: auto;
}

.destination-btn-edit {
  color: #ffffff;
  background: linear-gradient(90deg, #F64850, #FB810B);
  padding: 5px 10px;
  border-radius: 5px;
}

.destination-address {
  display: -webkit-box;
  height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-destination-2-line {
  display: -webkit-box;
  max-height: 52px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-order {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.cart-item-d-block {
  display: block !important;
}

.order-info-details {
  display: flex;
  justify-content: space-between;
}

.order-info-title {
  font-size: 16px;
  font-weight: 500;
}

.btn-order-success {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.order-success-btn-buy {
  height: 50px;
  width: 200px;
}

.order-success-btn-save {
  height: 50px;
  width: 200px;
}

.order-success-title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.info-payment-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 30px;
}

.image-qrcode {
  width: 300px;
  height: 300px;
}

.info-payment-content {
  width: 300px;
  max-width: 100%;
}

.order-success-btn-payment {
  width: 160px;
  height: 40px;
}

.btn-payment-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cm-item-color-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  font-size: 14px;
}

.cm-item-color-element {
  border: 1px solid #cccccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cm-item-color-element.disabled {
  background-color: #cccccc;
}

.cm-item-color-element.active {
  border-color: #d70018;
}

.cm-item-color-element:hover {
  border-color: #ff6801;
}

.btn-getToken {
  background-color: #d70018;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}

.w-fit-content {
  width: fit-content;
}

.btn-getToken.disabled {
  background-color: #cccccc;
}

.order-history-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.order-history-subcontent {
  display: flex;
  justify-content: space-between;
}

.button-reorder {
  background: linear-gradient(90deg, #F64850, #FB810B);
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: auto;
}

.h-63px {
  height: 63px;
}

.btn-payment-orderdetail {
  background: linear-gradient(90deg, #F64850, #FB810B);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.list-categories-ipad {
  display: none;
}

.btn-sort-customer {
  background: #C0C0C0;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.btn-sort-customer.active {
  background: #fef2f2;
  border: 1px solid #d70018 !important;
  color: #d70018;
}

.bg-gray {
  background-color: #f3f4f6;
}

.item-note {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}

.item-note-title {
  color: #d70018;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.btn-disabled {
  background: #cccccc !important;
  color: #212519;
}

.gap-5px {
  gap: 5px;
}
